<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- By default, we are not in debug mode -->
  <arg name="debug" default="false" />

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find tiago_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

</launch>
