<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="scan" default="scan"/>

  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <remap from="scan" to="$(arg scan)"/>
    <rosparam file="$(find tiago_2dnav)/config/mapping/gmapping.yaml" command="load"/>
  </node>
</launch>
