<?xml version="1.0"?>

<model>
  <name>Adler Erfurt Shop Downstairs</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Enrique Fernandez</name>
    <email>enrique.fernandez@pal-robotics.com</email>
  </author>

  <description>
    A 3D model of the walls of Adler's shop downstairs at Erfurt (Germany).
  </description>
</model>
